body {
	/* background-color: hsl(195, 98%, 58%); */
}
main {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100svh;
	max-width: 40rem;
	padding: 0 2rem;
}
main > .title {
	margin: 0 0 0 0;
}
main > form > input {
	padding: 0.5rem 0;
	width: 100%;
	margin-top: 1.75rem;
	font-size: 1.5rem;
	border: none;
	border-bottom: solid 2px #000;
	background: none;
	display: block;
}
main > form > input:focus {
	outline: none;
}
main > form > input[type=submit] {
	padding: 0.5em 1em;
	border-radius: 0.5em;
	text-decoration: none;
	background-color: #000;
	color: #fff;
	/* color: hsl(195, 98%, 58%); */
}